@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import "tailwindcss";

@theme {
    --color-primary: #2FA4A9;
    --color-primary-dark: #27888C;
}
body {
    font-family: 'Inter', sans-serif;
}
